.wrap-1{
    margin: 25px;
    width: 1200px;
}
.wrap-2{
    margin: 25px;
}
.btn{
    float: left;
    margin-left: 20%;
}
.btn1{
    float: left;
}
.btn2{
    float: left;
}
.btn3{
    float: left;
}
.btn4{
    float: left;
}
.btn5{
    float: left;
}
.img{
    float: left;
}
.item1{
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    background-color: #199c3e;
    border-radius: 5px;
    border: 2px solid green;
}
.item2{
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    background-color: #49b45e;
    border-radius: 5px;
    border: 2px solid green;
}
.item3{
    text-decoration: none;
    padding: 14px 26px;
    color: white;
    background-color: #119c3c;
    border-radius: 5px;
    border: 2px solid green;
}
.item4{
    text-decoration: none;
    padding: 14px 26px;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    border: 2px solid blue;
}
.item5{
    text-decoration: none;
    padding: 14px 26px;
    color: white;
    background-color: deepskyblue;
    border-radius: 5px;
    border: 2px solid blue;
}
.item6{
    text-decoration: none;
    padding: 14px 26px;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    border: 2px solid blue;
}
.item7{
    text-decoration: none;
    padding: 14px 26px;
    color: #808083;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item8{
    text-decoration: none;
    padding: 14px 26px;
    color: #808083;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item9{
    text-decoration: none;
    padding: 14px 26px;
    color: #808083;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item10{
    text-decoration: none;
    padding: 14px 26px;
    color: #808083;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item11{
    text-decoration: none;
    padding: 14px 26px;
    color: #808085;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item12{
    text-decoration: none;
    padding: 14px 26px;
    color: #808085;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item13{
    text-decoration: none;
    padding: 14px 26px;
    color: #808085;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item14{
    text-decoration: none;
    padding: 14px 26px;
    color: #808085;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item15{
    text-decoration: none;
    padding: 14px 26px;
    color: #808087;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item16{
    text-decoration: none;
    padding: 14px 26px;
    color: #808087;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item17{
    text-decoration: none;
    padding: 14px 26px;
    color: #808087;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item18{
    text-decoration: none;
    padding: 14px 16px;
    color: #808087;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item19{
    text-decoration: none;
    padding: 14px 16px;
    color: #808089;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item20{
    text-decoration: none;
    padding: 14px 16px;
    color: #808089;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item21{
    text-decoration: none;
    padding: 14px 16px;
    color: #808089;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}
.item22{
    text-decoration: none;
    padding: 14px 16px;
    color: #808089;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
}